.sliderWrapper {
  position: relative;
  width: 100%;

  aspect-ratio: 4.45 / 1;

  overflow: hidden;
  background-color: #eaf2f1;
}
.sliderWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4.45 / 1;
  overflow: hidden;
  background-color: #377d7500;
}

.sliderWrapper :global(.slick-slider),
.sliderWrapper :global(.slick-list) {
  height: 100%;
}

.sliderWrapper :global(.slick-track) {
  display: flex;
}

.sliderWrapper :global(.slick-slide) {
  height: auto;
}

.sliderWrapper :global(.slick-slide > div) {
  height: 100%;
}

.slideLink {
  display: block;
  width: 100%;
  height: 100%;
}

.sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1px;
  overflow: hidden;
}

.imageSlider {
  object-fit: cover;
  object-position: center;
}

.sliderWrapper :global(.slick-slider),
.sliderWrapper :global(.slick-list),
.sliderWrapper :global(.slick-track),
.sliderWrapper :global(.slick-slide),
.sliderWrapper :global(.slick-slide > div) {
  height: 100%;
}

.sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageSlider {
  object-fit: cover;
  object-position: center;
}


@media (min-width: 701px) and (max-width: 999px) {
  .sliderWrapper {
    aspect-ratio: auto;
    height: 240px;
  }

  .imageSlider {
    border-radius: 40px;
  }
}


@media (min-width: 501px) and (max-width: 700px) {
  .sliderWrapper {
    aspect-ratio: auto;
    height: 200px;
  }
}


@media (max-width: 500px) {
  .sliderWrapper {
    aspect-ratio: auto;
    height: 155px;
  }
}


.dots {
  direction: rtl !important;
  text-align: unset !important;
  width: 97.5% !important;
  bottom: 7% !important;
}

.dots li {
  margin: 0 !important;
  width: 1.2% !important;
}

.dots .active {
  color: red !important;
  font-size: 28px !important;
}

.dots button::before {
  font-size: 7px !important;
  color: #b3b3b3 !important;
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .dots button::before {
    font-size: 6px !important;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .dots button::before {
    font-size: 5px !important;
  }
}

@media (min-width: 701px) and (max-width: 899px) {
  .dots button::before {
    font-size: 4px !important;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .dots {
    bottom: 8% !important;
    right: 5.5% !important;
    width: 91% !important;
  }

  .dots button::before {
    font-size: 3.5px !important;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .dots {
    width: 91% !important;
  }

  .dots button::before {
    font-size: 3px !important;
  }
}
@media (min-width: 400px) and (max-width: 550px) {
  .sliderWrapper {
    height: 140px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .sliderWrapper {
    height: 122px;
  }
}
@media (min-width: 501px) and (max-width: 550px) {
  .sliderWrapper {
    height: 180px;
  }
}